.recent-searches {
    .search-preview {
        color: #ff9800;
    }
    p {
        text-align: center;
        font-size: x-large;
        color: $d-clr;
        letter-spacing: 1px;
        margin-top: 10px;
        text-shadow: 0px -1px 4px #000000;
    }
}
.no-search {
    width: 50%;
    height: 50%;
    top: 20%;
    color: #161819;
    .MuiSvgIcon-root {
        width: 80%;
        height: 80%;
    }
    p {
        @include p-style;
        text-align: center;
    }
    a {
        background-color: #f89401;
        border-radius: 5px;
        color: $g-clr;
        font-weight: bold;
        padding: 5%;
        text-transform: capitalize;
        font-size: large;
        box-shadow: 5px 2px 5px 0px #0000002e;
        position: relative;
        top: 10%;
        transition: 0.1s ease;
        justify-content: center;
        height: 50px;
        letter-spacing: 0.5px;
        &:hover {
            background-color: $b-clr;
            color: #f89401;
            font-weight: normal;
        }
    }
}
