.track-app {
    background-color: #25292c;
    width: 60%;
    height: 80%;
    box-shadow: 11px 14px 20px 3px rgba(17, 17, 17, 0.48);
    border-radius: 5px;
    .back-arrow {
        @include svg-icon {
            color: aliceblue;
            transform: rotate(180deg);
            position: absolute;
            left: 4%;
            top: 4%;
        }
    }
    .searches-icon {
        right: 5%;
        top: 4%;
        font-size: xxx-large;
        color: wheat;
    }
    a:not(.back-to-tracks) :not(.track-details) {
        position: absolute;
        color: $c-clr;
        right: 5%;
        top: 5%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotate(10deg);
        }
        &.isOnSearch {
            color: #ff9800;
        }
    }
}
