.track-details {
    height: 100%;
    width: 100%;
    padding: 0 4%;
    .imgs-container {
        margin-top: 5%;
        img {
            width: 13vw;
            border-radius: 5px;
            box-shadow: 4px 0px 20px 0px #00000042;
            filter: grayscale(1);
            &:nth-child(2) {
                width: 20vw;
                cursor: pointer;
                filter: grayscale(0.2);
                transition: 0.2s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    a {
        left: 5%;
        position: absolute;
        top: 5%;
    }
    .click-img-elmnt {
        height: 150.4px;
        text-align: center;
        p {
            @include p-style;
            padding: 5%;
        }
    }
}
