* {
    box-sizing: border-box;
}

html {
    font-family: "montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.App {
    @include flex-center {
        background-color: var(--a-clr);
        height: 100vh;
        width: 100vw;
    }
    .music-icon {
        font-size: 50vh;
        left: -40px;
        bottom: 4%;
        color: var(--b-clr);
    }
    --a-clr: #e4e4e4;
    --c-clr: #1e1e1efa;
    --b-clr: #5a5a5a;
    --d-clr: #222222;
    --e-clr: #b6b6b6;
    --f-clr: white;
    --g-clr: #575757;
    --h-clr: #fcfcfc;
    --i-clr: #b6b6b6;
    --j-clr: #969696fa;
    &.dark {
        --a-clr: #191d1f;
        --b-clr: #0b0b0b;
        --c-clr: #cdcdcd;
        --d-clr: #ffb74d;
        --e-clr: #16181a;
        --f-clr: #494f53;
        --g-clr: black;
        --h-clr: #25292c;
        --i-clr: #494f53;
        --j-clr: var(--c-clr);
    }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}
