* {
    box-sizing: border-box;
}

html {
    font-family: "montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

//colors
// bgc-app:  #191d1f
// music-icon-app: $b-clr
// app-search: $c-clr
// input: 0b0b0b
// search-icon isActive: ffb74d
//btns-control-not toggle: $c-clr
// search-preview bgc: $e-clr
// search-preview clr: $d-clr
// search-preview bgc-hover: $f-clr
// track-preview div bgc: $g-clr

.App {
   
    @include flex-center {
        background-color: $a-clr;
        height: 100vh;
        width: 100vw;
    }
    .music-icon {
        font-size: 50vh;
        left: -40px;
        bottom: 4%;
        color: $b-clr;
    }
    // &.light {
    // }
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
