// Colors
$clr1: #ce2e6c;
$clr2: #092f32;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

$dark-color: #25292c;
$light-color: #fcfcfc;

$main-color: #10106e;
$second-color: $dark-color;

$a-clr: #191d1f;
$b-clr: #0b0b0b;
$c-clr: #cdcdcd;
$d-clr: #ffb74d;
$e-clr: #16181a;
$f-clr: #494f53;
$g-clr: black;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1440px;
