.btns-control {
    bottom: 6%;
    width: 90%;
    > * {
        display: flex;
        cursor: pointer;
        color: wheat;
        transition: .3s ease;
    }
    .MuiSvgIcon-root {
        font-size: xxx-large;
        &:hover{
            color: $main-color;
        }
    }
    .disaply-btns {
        width: 18%;
    }
}
