.track-list,
.recent-searches {
    height: 70%;
    justify-content: start;
    margin-top: 3vh;
    width: 90%;
    gap: 15px;
    .track-preview,
    .search-preview {
        @include flex-center {
            padding: 0 20px;
            background-color: var(--e-clr);
            border-radius: 5px;
            color: var(--d-clr);
            height: 15%;
            font-size: 2vh;
            font-family: cursive;
            transition: 0.2s ease;
            cursor: pointer;
            position: relative;
            justify-content: flex-start;
            gap: 3%;
            .MuiSvgIcon-root {
                font-size: xx-large;
            }
            &:hover {
                box-shadow: 3px 6px 20px 0px #0000006e;
                background-color: var(--f-clr);
            }
        }
        p {
            text-shadow: -1px 1px 5px #000000;
        }
        img {
            display: none;
        }
    }
    &.tile {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-gap: 15px;
        .track-preview {
            height: unset;
            font-size: 1.3em;
            padding: 15px;
            flex-direction: column;
            justify-content: space-around;
            p {
                margin: 110px 0 0;
                font-size: 1.8vh;
                text-align: center;
            }
            div {
                @include flex-center {
                    top: 15px;
                    background-color: var(--g-clr);
                    width: 100%;
                }
                img {
                    display: block;
                    filter: grayscale(0.5);
                    box-shadow: 0px 0px 0px 7px var(--h-clr);
                }
            }
            svg {
                display: none;
            }
        }
    }
}
.track-list.tile {
    @include for-mobile-layout {
        top: 10%;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        overflow-y: auto;
    }
}
